body{
    margin: 0;
    font-family: Arial;
}
section{
    width: 100%;
    height: 100vh;  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.part2{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 70px;
}
nav h1{
    font-size: 50px;
}
nav h4{
    font-size: 25px;
    font-weight: 500;
}
nav button{
    padding: 18px 30px;
    background-color: transparent;
    font-size: 22px;
    border-radius: 5px;
    font-weight: 600;
}